---
layout: archive
title: "Villanova Human Mobility Data Lab"
permalink: /data-lab/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

The Villanova Human Mobility Data Lab conducts leading-edge transportation big-data research and delivers high-standard data products. The Lab hosts, ingests, fuses, and integrates terabytes of location-based service data records and trajectories, producing/visualizing the U.S. nation-wide and international human mobility and travel behavior patterns to support various multidisciplinary collaborative research efforts including transportation economics, built environment, pandemic monitoring and prediction, and mobility and health. Several on-going signature projects at the Lab are highlighted on the "Research Projects" tab.


The Lab leverages in-house computing cluster of over 400 CPUs and cutting-edge big-data architecture (e.g., Spark, Hadoop, HBase, Docker, Apache Sedona) to efficiently conduct data-driven research and deliver data/software products. In addition, the Lab leverages Villanova College of Engineering high-performance computing (CoE-HPC) cluster, a key research tool that provides College researchers with the computational resources they need to succeed in their research programs. These computational resources ensure a swift and smooth delivery of research findings, data products, and software-based solutions to the Lab's clients.


Example mobility data research products include:


    <div class="container">
      <div class="card">
        <div class="img">
          <img src="/images/baltimore.png" >
          <!-- one -->
        </div>
        <div class="top-text">
          <div class="name">
            第一次班级聚会
          </div>
        </div>
        <div class="bottom-text">
          <div class="text">
            还记的，2018年，大一下学期，开学我们第一次班级聚会，相聚在北海园博园假山，
            一起动手、齐力快乐的一起烧烤，虽然天色黑的伸手不见五指，让人害怕，但我们相聚在一起，
            有说有笑，彼此相知，却一点感觉不到害怕，那刻，仿佛时间停住了，只剩下快乐相伴。
          </div>
        </div>
      </div>
      <!-- two -->
      <div class="card">
        <div class="img">
          <img src='/images/SouthAfrica.png'>
        </div>
        <div class="top-text">
          <div class="name">
            优秀班级评比
          </div>
          <!-- <p>Apps Developer</p> -->
        </div>
        <div class="bottom-text">
          <div class="text">
            还记得，大二上学期，一次晚点名辅导员说，每个班级要拍出最美的班级照，
            参加最美班级的摄影评比，我们大家一起在群里齐思广议，每个人把自己觉得好的想法分享出来，
            争取拍几张最美的班级照，很想说，我们大家认真付出的样子真的帅呆了。
          </div>
        </div>
      </div>
      <!-- three -->
      <div class="card">
        <div class="img">
          <img src="54545454.jpg" >
        </div>
        <div class="top-text">
          <div class="name">
            团日活动
          </div>
        </div>
        <div class="bottom-text">
          <div class="text">
            还记得，大二下学期，大家为了完成辅导员下发了“最美北海”我为北海做的那些事志愿活动，
            我们大家来到北海美丽的海滩公园，齐心志愿动手去捡垃圾，保护海滩，大家人认真捡着垃圾，
            看到旁边的人举起大拇指，感觉此刻值了。
          </div>
        </div>
      </div>
    </div>


I. Vehicle, pedestrian and bicycle volume estimation based on passively collected mobile device location data, sponsored by USDOT Safety Data Initiative (SDI) in collaboration with Maryland DOT State Highway Administration. The Lab researchers have developed a prototype web-based tool and data-driven algorithms to estimate low-speed road user volumes in example Maryland roadway segments and intersections. Results have been tested and validated against available road counts and turning volumes. Image below illustrates the density plot of estimated pedestrian/bicycle volumes for roadway segments near Inner Harbor, Baltimore MD.


<br/><img src='/images/baltimore.png'
width='500'/>


II. Human mobility, activities, and population density in South Africa and Nigeria during the SARS-CoV-2 pandemic, sponsored by National Institutes of Health (NIH) in collaboration with Institutes of Human Virology Nigeria, University of Maryland Baltimore, etc. The international mobility measurements produced by the Lab are new and have filled a major data gap in understanding the travel behaviour change during the SARS-CoV-2 in Nigeria and South Africa. The Lab also assessed the effectiveness of mobility restricting policies as key lessons learned from the pandemic and found that travel bans, and federal lockdown policies failed to restrict trip-making behaviour but had a significant impact on distance travelled.

<br/><img src='/images/SouthAfrica.png'
width='500'/>


{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
