---
layout: archive
title: "Villanova Human Mobility Data Lab (NovaMobility)"
permalink: /data-lab/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<p>The NovaMobility Lab conducts leading-edge transportation big-data research and delivers high-standard data products. The Lab hosts, ingests, fuses, and integrates terabytes of location-based service data records and trajectories, producing/visualizing the U.S. nation-wide and international human mobility and travel behavior patterns to support various multidisciplinary collaborative research efforts including transportation economics, built environment, pandemic monitoring and prediction, and mobility and health. Several on-going signature projects at the Lab are highlighted on the "Research Projects" tab.</p>

<p>The Lab builds in-house computing cluster and cutting-edge big-data architecture (e.g., Spark, Hadoop, HBase, Docker, Apache Sedona) to efficiently conduct data-driven research and develop data/software products. In addition, the Lab leverages Villanova College of Engineering high-performance computing (CoE-HPC) cluster, a key research tool that provides College researchers with the computational resources they need to succeed in their research programs. These computational resources ensure a swift delivery of research findings and sample data products as well as superior scalability for large-scale industrial solutions to the Lab's clients.</p>

<p>Example research and data products of the Lab include the following:

<html>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }
  </style>
</head>
<body>
  <table>
    <tr>
      <th>Population Flow</th>
      <th>Multimodal Mobility</th>
      <th>Human Acitivities</th>
    </tr>
    <tr>
      <td>Number of people or trips traveling between any origin-destination (OD) pair within the U.S. or globally.</td>
      <td>Vehicle, rail, air, pedestrian and bicycle trip details.</td>
      <td>Human mobility, activities, and population density at different point-of-interests (POIs).</td>
    </tr>

    <tr>
      <td>Example: The Lab was part of the Next Generation National Household Travel Survey (Next-Gen NHTS) National OD Data project, funded by USDOT FHWA. Several Lab members led the development of cloud computing infrastructure, AI and data-driven algorithms of the project, establishing a more continuous travel monitoring program with national and local data products. More information of the project can be found at https://nhts.ornl.gov/od/.
        <br/><img src='/images/nhts.png'
        height='200'/>

      </td>
      <td>Example: The Lab developed vehicle, pedestrian and bicycle volume estimation based on passively collected mobile device location data via a project sponsored under the USDOT Safety Data Initiative (SDI) in collaboration with Maryland DOT State Highway Administration. The Lab researchers have developed data-driven algorithms to estimate low-speed road user volumes in example Maryland roadway segments and intersections and then deployed a prototype web-based tool to host the data and accomodate various analytics. Results have been tested and validated against available road counts and turning volumes. Image below illustrates the density plot of estimated pedestrian/bicycle volumes for roadway segments near Inner Harbor, Baltimore MD.

        <br/><img src='/images/SouthAfrica.png'
        height='200'/>

      </td>
      <td>Example: Human mobility, activities, and population density in South Africa and Nigeria during the SARS-CoV-2 pandemic, sponsored by National Institutes of Health (NIH) in collaboration with Institutes of Human Virology Nigeria, University of Maryland Baltimore, etc. The international mobility measurements produced by the Lab are new and have filled a major data gap in understanding the travel behaviour change during the SARS-CoV-2 in Nigeria and South Africa. The Lab also assessed the effectiveness of mobility restricting policies as key lessons learned from the pandemic and found that travel bans, and federal lockdown policies failed to restrict trip-making behaviour but had a significant impact on distance travelled.</td>
    </tr>
  </table>
</body>
</html>




{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
