---
layout: archive
title: "Villanova Human Mobility Data Lab"
permalink: /data-lab/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

The Villanova Human Mobility Data Lab conducts leading-edge transportation big-data research and delivers high-standard data products. The Lab hosts, ingests, fuses, and integrates terabytes of location-based service data records and trajectories, producing/visualizing the U.S. nation-wide and international human mobility and travel behavior patterns to support various multidisciplinary collaborative research efforts including transportation economics, built environment, pandemic monitoring and prediction, and mobility and health. Several on-going signature projects at the Lab are highlighted on the "Research Projects" tab.

&nbsp;&nbsp;&nbsp;

The Lab leverages in-house computing cluster of over 400 CPUs and cutting-edge big-data architecture (e.g., Spark, Hadoop, HBase, Docker, Apache Sedona) to efficiently conduct data-driven research and deliver data/software products. In addition, the Lab leverages Villanova College of Engineering high-performance computing (CoE-HPC) cluster, a key research tool that provides College researchers with the computational resources they need to succeed in their research programs. These computational resources ensure a swift and smooth delivery of research findings, data products, and software-based solutions to the Lab's clients.


Example mobility data research products include:


  <style>
    .container {
      display: flex;
      flex-wrap: wrap;
    }

    .textbox-container {
      flex: 1;
      margin: 10px;
    }

    label {
      display: block;
      margin-bottom: 5px;
    }

    input {
      width: 100%;
      padding: 5px;
      box-sizing: border-box;
    }
  </style>
</head>
<body>
  <h1>Parallel Textboxes Example</h1>
  <div class="container">
    <div class="textbox-container">
      <label for="textbox1">Example 1:</label>
      <input type="text" id="textbox1" name="textbox1">
    </div>
    <div class="textbox-container">
      <label for="textbox2">Example 2:</label>
      <input type="text" id="textbox2" name="textbox2">
    </div>
    <div class="textbox-container">
      <label for="textbox3">Example 3:</label>
      <input type="text" id="textbox3" name="textbox3">
    </div>
  </div>
</body>
</html>


I. Vehicle, pedestrian and bicycle volume estimation based on passively collected mobile device location data, sponsored by USDOT Safety Data Initiative (SDI) in collaboration with Maryland DOT State Highway Administration. The Lab researchers have developed a prototype web-based tool and data-driven algorithms to estimate low-speed road user volumes in example Maryland roadway segments and intersections. Results have been tested and validated against available road counts and turning volumes. Image below illustrates the density plot of estimated pedestrian/bicycle volumes for roadway segments near Inner Harbor, Baltimore MD.


<br/><img src='/images/baltimore.png'
width='500'/>


II. Human mobility, activities, and population density in South Africa and Nigeria during the SARS-CoV-2 pandemic, sponsored by National Institutes of Health (NIH) in collaboration with Institutes of Human Virology Nigeria, University of Maryland Baltimore, etc. The international mobility measurements produced by the Lab are new and have filled a major data gap in understanding the travel behaviour change during the SARS-CoV-2 in Nigeria and South Africa. The Lab also assessed the effectiveness of mobility restricting policies as key lessons learned from the pandemic and found that travel bans, and federal lockdown policies failed to restrict trip-making behaviour but had a significant impact on distance travelled.

<br/><img src='/images/SouthAfrica.png'
width='500'/>


{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
